local plr = game.Players.LocalPlayer
local playergui = plr.PlayerGui

--Main

local scr = Istance.new("ScreenGui", playergui) 
scr.Name = "Destroyer" 

local frame = Istance.new("Frame", scr) 
frame.Name = "Main" 
frame.Draggable = true
frame.Color3 = Color3.FromRGB(153, 255, 204) 

local Button = Istance.new("Text Button", frame)
Button.BackroundColor3 = Color3.FromRGB(153, 255, 204)  
Button.Name = "Holder" 
Button.Text = "Destroy Objects" 
Button.TextSize = 16

--Function 

Button.Activated:Connect(function() 
for i, Part in pairs(game.Workspace:GetChildren()) do
   if Part:IsA("Model") or Part:IsA("Part") or Part:IsA("Folder") then
      Part:Destroy() 
   end
end
end) 
